.photo {
  float: left;
  margin-right: 2em;
}

@media screen and (max-width: 580px) {
  .photo {
    float: none;
  }
}

.hide {
  display: none;
}

thead {
  display: none;
}

table {
  margin-top: 1em;
}

td {
  padding-bottom: 1em;
  vertical-align: top;
}

tr>td:first-child {
  color: #5E8CDE;
  width: 8.75em;
}